<style>
        img {
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
            width: 150px;
        }
        
        img:hover {
            box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
        }
        </style>


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Product
            <small>List</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="#">Product</a></li>
            <li class="active">Product List</li>
        </ol>
    </section>
    <div class="form-group">
        <div class="alert alert-success" ng-show="del">
            <strong ng-bind="del" ></strong> 
        </div>
    </div>


        <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">



                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Product List</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                                <!--my drop down-->
                            <div class='col-lg-8'>
                                    <div class='form-group'>
                                    
                                    
                                    <!--input type='text' placeholder='Category' ng-model='post.slug' required="" name='slug' class='form-control'-->
                                     <select name="select Category" ng-model="mycat" style="width:100%" >
                                            <option value="" default selected>Select Category</option>
                                         <option ng-repeat="cat in categoryList"  ng-click="setval(cat)"    value="{{cat._id}}" >{{cat.title}}</option>
                                     </select>
                                    </div>
                                </div>



                                <div class='col-lg-8'>
                                        <div class='form-group'>
                                        
                                        <!--input type='text' placeholder='Category' ng-model='post.slug' required="" name='slug' class='form-control'-->
                                         <select name="select SubCategory" ng-model="mysubcat" style="width:100%" >
                                                <option value="" default selected>Select SubCategory</option>
                                             <option ng-repeat="subcat in active.subcat" value="{{subcat}}" >{{subcat}}</option>
                                         </select>
                                        </div>
                                    </div>  

                          <!--drop down menu end -->
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Prod. Id</th>
                                    <th>Product Name</th>
                                    <th>Product Specification</th>
                                    <th>Created</th>
                                    <th>Edit</th>
                                    <th>View</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr ng-repeat='post in posts track by $index' ng-if="post.cat_id==mycat&&mysubcat==post.subcat">

                                    <td ng-class="'{{post._id}}'">{{$index + 1}}</td>           
                                    <td ng-class="'{{post._id}}'">{{post.title}}</td>     
                                    <td ng-class="'{{post._id}}'">{{post.description.substr(0, 140)}}</td>
                                    <td ng-class="'{{post._id}}'">{{post.created_at | date}}</td>      
                                    <td ng-class="'{{post._id}}'">
                                        <a ui-sref="editProduct({paraml:post._id})">
                                            <i class="fa fa-edit"></i>Edit</a></td>  

                                    <td ng-class="'{{post._id}}'" ng-click='setActive(post)' style="cursor: pointer">

                                        View</td> 
                                    <td ng-click="deletepost(post._id)" ng-class="'{{post._id}}'" style="cursor: pointer">

                                        Delete</td>  

                                </tr>   

                            </tbody>
                            
                        </table>
                    </div>

                    <div class='col-sm-12 full-height'>
                        <div ng-show="activePost.title">

                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="box">
                                        <div class="box-header">
                                            <h3 class="box-title">Single data</h3>


                                        </div>
                                        <!-- /.box-header -->



                                        <div class="box-body table-responsive no-padding">
                                            <table class="table table-hover">
                                                <tr>
                                                    <th>Fields</th>
                                                    <th>Data</th>

                                                </tr>
                                                <tr>
                                                    <td>Product Name</td>
                                                    <td>{{activePost.title}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Product Price</td>
                                                    <td>{{activePost.price}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Product Condition</td>
                                                    <td>{{activePost.condition}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Product Discount</td>
                                                    <td>{{activePost.discount}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Product colour</td>
                                                    <td>{{activePost.attr}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Product Specification</td>
                                                    <td>{{activePost.description}}</td>
                                                </tr>
												
												<tr>
                                                    <td>Category</td>
                                                    <td>{{active.title}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Images</td>
                                                    
                                                        <td>
                                                                <div ng-repeat="image in activePost.product_image">
                                                        <img src="uploads/products/{{image}}" alt="" style="width:150px">
                                                    </div>
                                                        </td>
                                                 
                                                    <!--img ng-src="{{activePost.product_image}}"></img-->

                                                    
                                                </tr>
                                                
                                            </table>
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                    <!-- /.box -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>